body {
    text-align: center;
    margin: 0 auto;
    display: block;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}

.pong-remake {
    margin: 0 auto;
}